.Rproj.user
.Rhistory
.RData
.Ruserdata
Autopsy Cohort - All version of GRS sent to Sumie.xlsx
Updated TPP SNP Data.xlsx
genotypeAnalyses.nb.html
igap_gene_amp_cell_annos.csv
~$Updated TPP SNP Data.xlsx
ROSMAP_Mayo_Extracted_SNPs_forBen.txt
allgrs.png
bar.txt
baz.txt
dataUploadExample.nb.html
endogrs.png
foo.txt
gexpr.rda
mayo_igap_snps.csv
microgrs.png
moduleGenoAnalysis.nb.html
neurgrs.png
snps
testManifest.csv
testManifest.tsv
